@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

p {
  font-size: 40px;
  font-family: Space Mono;
  font-weight: 700;
  color: #5e7a7d;
  line-height: 40px;
}
