<p>Select Tip %</p>
<div class="buttons-tip">
  <div class="buttons-tip-line">
    <button class="button-component" (click)="selectTip(0.05)">5%</button>
    <button class="button-component" (click)="selectTip(0.1)">10%</button>
    <button class="button-component" (click)="selectTip(0.15)">15%</button>
  </div>
  <div class="buttons-tip-line">
    <button class="button-component" (click)="selectTip(0.25)">25%</button>
    <button class="button-component" (click)="selectTip(0.5)">50%</button>
    <button class="button-component" (click)="selectTip(0.05)">Custom</button>
  </div>
</div>
